#screen {
	width:800px;
}

h1 {
	background-color: lightgrey;
}

#game {
	width:800px;
	height:500px;
}

p {
	display: inline-block;
	background-color: lightgrey;
	border-radius: 20px;
	cursor:help;
}

img{
	box-sizing: border-box;
	opacity:1;
	border-radius: 20px;
	cursor:none;
}

p:hover {
	background-color: grey;
}

.hidden {
	visibility: hidden;
}